<!-- <div ng-controller='LoginController as login'> -->

	<div layout="column">
		<form ng-submit='ctrl.submit()'>
			<input type="text" name="userName" id="userName" ng-model='ctrl.user.userName' placeholder="User Name" />
			<input type="password" name="password" id='password' ng-model='ctrl.user.password' placeholder="Password" />

			<!-- <p>{{ctrl.user.userName}} , {{ctrl.user.password}}</p>  -->
			<button type="submit" class='md-primary'>Login</button>
		</form>
		<br><br>New User? Register Now!
		<button ng-href="#/register" class='md-primary' formmethod="get">Register</button>
	</div>
	
<!-- </div> -->
