<!DOCTYPE html>
<html>
<head>
	<title>Chat Window</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
 
</head>
<body class="container">
	<h1 align="center">Collaba Chats</h1>
	<main class="online-users" class="col-sm-4">
		<h3>Online Users</h3>
		<ul id='list-online'>
		</ul>
	</main>
	<main class="chat-win" class="col-sm-8">
		<ul id='chat-msgs'></ul>
		<form action="/users/chats" method="post" style="position:fixed; bottom:5px;" >
			<input type="text" name="msg" id='msg' placeholder="Type a message" autofocus />
			<button type="submit">Send</button>
		</form>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  	
  	<script src="/socket.io/socket.io.js"></script>

	<script type="text/javascript">
		var socket = io();
		var user = location.search.split('?');
		user = user[1].split('=')[1];
		console.log('User : ' + user + ", " + socket.id + ' is online.');

		socket.on('Online-users', function(err, users) {
			if(err) console.log(err);
			$('#list-online').text('');
			console.log(users);
			for(i=0; i<users.length; ++i) {
				var li = "<li id='" + users[i] + "' >" + users[i] + "</li>";
				$('#list-online').append(li);
			}
		});

		$('form').submit(function() {
			socket.emit('Chat-msg', $('#msg').val());
			$('#msg').val('');
		});
	</script>
</body>
</html>