<!DOCTYPE html>
<html>
<head>
	<title>Register Page</title>
</head>
<body>
	<h1>Register User</h1>
	<form action="/users/register" method="post">
		<input type="text" name="userName" id="userName" placeholder="user Name"/>
		<input type="password" name="password" id="password" placeholder="Password"/>
		<input type="password" name="confirmPass" id="confirmPass" placeholder="Confirm Password"/>
		<input type="text" name="name" id="name" placeholder="Name"/>
		<button type="submit">Register</button>
	</form>

</body>
</html>